/node_modules
/public/hot
/public/storage
/public/coverage
/storage/*.key
/vendor
/assets/images/home
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
